<!doctype html>
<html lang="en">
<head>
    <title>Locate</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="index">
        <div class='index-title'>Locate</div>
        <div class='index-desc'>find personal status from facebook quickly</div>
        <div class='index-login'>
            <a href="/login" class='btn btn-primary btn-large' >Login with Facebook</a>
        </div>
    </div>
</div>

</body>
</html>
